.carouselX-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carouselX-track {
  display: flex;
}

.carouselX-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #555;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #0d0716;
  overflow: hidden;
  cursor: grab;
}

.carouselX-item:active {
  cursor: grabbing;
}

.carouselX-container.round {
  border: 1px solid #555;
}

.carouselX-item.round {
  background-color: #0d0716;
  position: relative;
  bottom: 0.1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carouselX-item-header.round {
  padding: 0;
  margin: 0;
}

.carouselX-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carouselX-indicator.active {
  background-color: #333333;
}

.carouselX-indicator.inactive {
  background-color: rgba(51, 51, 51, 0.4);
}

.carouselX-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carouselX-icon-container {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}

.carouselX-icon {
  height: 16px;
  width: 16px;
  color: #060010;
}

.carouselX-item-content {
  padding: 20px;
  padding-bottom: 20px;
}

.carouselX-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.carouselX-item-description {
  font-size: 14px;
  color: #fff;
}

.carouselX-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carouselX-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carouselX-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carouselX-indicator.active {
  background-color: #fff;
}

.carouselX-indicator.inactive {
  background-color: #555;
}
