body,nav {
  transition: all 0.3s ease;
}

/*UTILS*/

.bg-light-0{
  background-color: #fff; /*specifically used for body bg color*/
}
.bg-dark-0{
  background-color: #333; /*specifically used for body bg color*/
}
.bg-light-blur{
  background-color: rgba(241, 241, 241, 0.7) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}
.bg-dark-blur{
  background-color: rgba(65, 65, 65, 0.7) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}

.themeToggle, .favouriteBtn, .closeFavourites{ /*Generic button sizes 45 by 45 for consistency*/
  width: 45px;
  height: 45px;
}

.navbar-brand span{ /*Logo and Brand Text on the Nav Bar*/
  color: #38b8f8;
  font-weight: 500;
}

.space{ /*simple height space (Reusable)*/
  height: 50px;
}
/*Closing UTILS*/

.searchBarSection-light{
  background: inherit;
  background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(164, 210, 235, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
.searchBarSection-dark{
  background: inherit;
  background: linear-gradient(120deg,rgba(0, 0, 0, 1) 0%, rgba(107, 140, 150, 1) 50%, rgba(0, 0, 0, 1) 100%);
}