body,nav {
  transition: all 0.3s ease;
}
.themeToggle, .favouriteBtn, .closeFavourites{
  width: 45px;
  height: 45px;
}
.favouriteBtn{
  transition: all 0.3s ease-in-out !important;
}

.navbar-brand span{
  color: #38b8f8;
  font-weight: 500;
}

.bg-light-0{
  background-color: #fff;
}
.bg-dark-0{
  background-color: #333;
}
.bg-light{
  background-color: #f1f1f1cc !important;
  backdrop-filter: blur(8px);
}
.bg-dark{
  background-color: #414141cc !important;
  backdrop-filter: blur(8px);
}
.temp{
  height: 200vh;
  background-image: url("https://winblogs.thesourcemediaassets.com/sites/2/2021/10/Windows-11-Bloom-Screensaver-Dark-scaled.jpg");
}