body,nav {
  transition: all 0.3s ease;
}

/*UTILS*/

.bg-light-0{
  background-color: #fff; /*specifically used for body bg color*/
}
.bg-dark-0{
  background-color: #333; /*specifically used for body bg color*/
}
.bg-light-blur{
  background-color: rgba(241, 241, 241, 0.5) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}
.bg-dark-blur{
  background-color: rgba(65, 65, 65, 0.5) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}

.themeToggle, .favouriteBtn, .closeFavourites{ /*Generic button sizes 45 by 45 for consistency*/
  width: 45px;
  height: 45px;
}

.navbar-brand span{ /*Logo and Brand Text on the Nav Bar*/
  color: #38b8f8;
  font-weight: 500;
}

.space{ /*simple height space (Reusable)*/
  height: 100px;
}
/*Closing UTILS*/

/*Search Bar*/
.hero {
  background:
    linear-gradient(to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.9),
      rgba(255, 255, 255, 0.1)),
    url("assets/hero-light.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 50px 10px 50px 10px;
}

.hero h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}

.hero p {
  font-family: Arial, sans-serif;
  color: #fff;
}

.input-group-text {
  border-radius: 25px 0 0 25px !important;
  border: none !important;
  background-color: transparent !important;
  border-right: 1px solid #ddd !important;
}

form {
  background-color: #fff;
}

.search-form .input-group .form-control {
  border: none;
}

.search-form .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}

.search-btn {
  width: 54px;
  height: 54px;
  background-color: white !important;
  color: rgb(0, 110, 255) !important;
  transition: all ease-in-out 0.3s !important;
}

.search-btn:hover {
  background-color: rgb(0, 110, 255) !important;
  color: #fff !important;
}

.open-map {
  background-color: rgb(0, 110, 255);
  width: 54px;
  height: 54px;
  text-decoration: none;
  color: white;
  transition: all ease-in-out 0.3s;
}

.open-map:hover {
  background-color: rgb(110, 117, 255);
  color: white;
}