body,nav {
  transition: all 0.3s ease;
}
.themeToggle, .favouriteBtn span:last-child{
  width: 45px;
  height: 45px;
}
.favouriteBtn{
  transition: all 0.3s ease-in-out !important;
}
.favouriteBtn span:first-child{
  font-weight: 500;
}
.navbar-brand span{
  color: #38b8f8;
  font-weight: 500;
}
