@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #38b8f8;
}

:root{
  padding: 0;
  margin: 0;
}
.navbar-brand{
  height: 50px;
}
.navbar-brand img{
  width: 48px;
  height: 48px;
}