body,nav {
  transition: all 0.3s ease;
}
.themeToggle, .favouriteHeart{
  width: 45px;
  height: 45px;
}
.favouritesTab{
  transition: all 0.3 ease-in-out;
}
.navbar-brand span{
  color: #38b8f8;
  font-weight: 500;
}
