@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #38b8f8;
}

:root{
  padding: 0;
  margin: 0;
}

.navbar-brand img{
  width: auto;
  height: 60px;
  transition: all 0.3s ease-in-out;
}
.navbar-brand img:hover{
  transform: scale(1.1);
  box-shadow: 0 2px 8px #333333;
}
.nav-link{
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover{
  color: #38b8f8;
}
