body,nav {
  transition: all 0.3s ease;
}

/*UTILS*/

.bg-light-0{
  background-color: #fff; /*specifically used for body bg color*/
}
.bg-dark-0{
  background-color: #131313; /*specifically used for body bg color*/
}
.bg-light-blur{
  background-color: rgba(241, 241, 241, 0.5) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}
.bg-dark-blur{
  background-color: rgba(65, 65, 65, 0.5) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}

.themeToggle, .favouriteBtn, .closeFavourites, .search-btn, .open-map{ /*Generic button sizes 45 by 45 for consistency*/
  width: 45px;
  height: 45px;
}

.navbar-brand span{ /*Logo and Brand Text on the Nav Bar*/
  color: #38b8f8;
  font-weight: 500;
}

/*Closing UTILS*/

/*Search Bar*/
.hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 50px 10px;
}
.hero-text-heading {
  transform: scale(1.4);
}
.hero-text-slogan {
  
}
.hero-searchbar-group {
  transform: scale(1.2);
}
/* Light Theme Hero */
.hero-light {
  background:
    linear-gradient(120deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.7)),
    url("assets/herobg.jpeg");
}

/* Dark Theme Hero */
.hero-dark {
  background:
    linear-gradient(120deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)),
    url("assets/herobg.jpeg");
}
.hero h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  
}

.hero p {
  font-family: Arial, sans-serif;
  color: #fff;
}

.input-group-text {
  border-radius: 25px 0 0 25px !important;
  border: none !important;
  background-color: transparent !important;
  border-right: 1px solid #ddd !important;
  transform: scale(1.1) !important;
}

form {
  background-color: #fff;
}

.search-form .input-group .form-control {
  border: none;
}

.search-form .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}

.search-btn {
  background-color: white;
  color: #38b8f8;
  transition: all ease-in-out 0.3s;
  border: 2px transparent;
}

.search-btn:hover {
  border-color: #38b8f8;
  background-color: #38b8f8;
  color: #fff;
}

.open-map {
  background-color: #38b8f8;
  text-decoration: none;
  color: white;
  border: 2px solid #38b8f8;
  transition: all ease-in-out 0.3s;
  
}

.open-map:hover {
  background-color: #fff;
  color: #38b8f8;
}

.heroFirstText{
  color: #38b8f8;
}