body,nav {
  transition: all 0.3s ease;
}

/*UTILS*/

.bg-light-0{
  background-color: #fff; /*specifically used for body bg color*/
}
.bg-dark-0{
  background-color: #333; /*specifically used for body bg color*/
}
.bg-light-blur{
  background-color: rgba(241, 241, 241, 0.7) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}
.bg-dark-blur{
  background-color: rgba(65, 65, 65, 0.7) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}

.themeToggle, .favouriteBtn, .closeFavourites{ /*Generic button sizes 45 by 45 for consistency*/
  width: 45px;
  height: 45px;
}

.navbar-brand span{ /*Logo and Brand Text on the Nav Bar*/
  color: #38b8f8;
  font-weight: 500;
}

.space{ /*simple height space (Reusable)*/
  height: 45px;
}
/*Closing UTILS*/

