body,nav {
  transition: all 0.3s ease;
}

/*UTILS*/
a{
  text-decoration: none;
}
.bg-light-0{
  background-color: #fff; /*specifically used for body bg color*/
}
.bg-dark-0{
  background-color: #131313; /*specifically used for body bg color*/
}
.bg-light-blur{
  background-color: rgba(241, 241, 241, 0.5) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}
.bg-dark-blur{
  background-color: rgba(65, 65, 65, 0.5) !important; /*blur glass effect for elements that I select*/
  backdrop-filter: blur(6px);
}

.themeToggle, .favouriteBtn, .closeFavourites, .search-btn, .open-map, .expand-search-bar{ /*Generic button sizes 45 by 45 for consistency*/
  width: 45px;
  height: 45px;
}

.navbar-brand span{ /*Logo and Brand Text on the Nav Bar*/
  color: #38b8f8;
  font-weight: 500;
}

/*Closing UTILS*/

/* HERO PARALLAX WRAPPER */
.hero {
  position: relative;
  padding: 80px 20px;
  overflow: hidden;
}

/* Parallax background layer */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* true parallax */
  z-index: -1;
}

/* Light Theme */
.hero-light::before {
  background-image:
    linear-gradient(120deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.7)),
    url("assets/herobg.jpeg");
}

/* Dark Theme */
.hero-dark::before {
  background-image:
    linear-gradient(120deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)),
    url("assets/herobg.jpeg");
}

/* Typography */
.hero h1 {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  color: #fff;
}

.hero p {
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Search bar styling */
.input-group-text {
  border-radius: 25px 0 0 25px !important;
  border: none !important;
  background: transparent !important;
  border-right: 1px solid #ddd !important;
}

form {
  background-color: #fff;
}

.search-form .form-control {
  border: none;
}

.search-form .form-control:focus {
  outline: none;
  box-shadow: none;
}

.search-btn,
.open-map {
  background-color: white;
  color: #38b8f8;
  transition: 0.3s ease;
  border: 2px transparent;
}

.search-btn:hover,
.open-map:hover {
  border-color: #38b8f8;
  background-color: #38b8f8;
  color: #fff;
}

/* Expand Button */
.expand-search-bar {
  background-color: #38b8f8;
  color: #fff;
  transition: 0.3s ease;
  border: 2px #38b8f8;
}

.expand-search-bar:hover {
  background-color: #38b8f8ee;
}

/* Accent text */
.heroFirstText {
  color: #38b8f8;
}

.extra-search-options .dropdown .dropdown-toggle {
  min-width: 160px;
}

.lol {
  height: 100vh;
}