body,nav {
  transition: all 0.3s ease;
}
.themeToggle, .favouriteBtn, .closeFavourites{
  width: 45px;
  height: 45px;
}
.favouriteBtn{
  transition: all 0.3s ease-in-out !important;
}

.navbar-brand span{
  color: #38b8f8;
  font-weight: 500;
}

.bg-light-0{
  background-color: #fff;
}
.bg-dark-0{
  background-color: #333;
}