@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #38b8f8;
}

:root{
  padding: 0;
  margin: 0;
}

.navbar-brand img{
  width: 48px;
  height: 48px;
}